---
openapi: 3.1.0
info:
  title: Plurex Protocol API
  description: Plurex Protocols API is a highly available api for handling trading intelligence protocol messages.
  version: 1.0.0
servers:
  - url: https://protocols.plurex.io
    description: Plurex Protocol API
security:
  - apiKey: [ ]
    apiSecret: [ ]
tags:
  - name: signal
    description: Signal protocol. Send messages to your Signals.
paths:
  /api/v1/signal/{id}:
    post:
      tags:
        - signal
      summary: Send messages
      description: Send a batch of signal messages
      parameters:
        - name: id
          in: path
          description: The ID of the signal to send a message to.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: test
          in: query
          description: Optional parameter to indicate a test message. This message will be ignored by Trading Sessions if true.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      requestBody:
        description: A batch of Signal Messages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalMessages'
        required: true
      responses:
        '200':
          description: OK
        '401':
          description: Authentication Failed.
        '403':
          description: Not Authorized.
        '404':
          description: Not Found. The signal ID is not found.
        '422':
          description: 'Invalid. Valid structure/json, invalid data.'
          content:
            applicaton/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
        '400':
          description: Bad request. Most likely due to badly formated content.
components:
  schemas:
    SignalSide:
      type: string
      enum: [Long, Short]
      description: The side of the signal.
    OpenEntryTarget:
      description: Specifies which open entries are targeted by the message.
      discriminator:
        propertyName: type
        mapping:
          All: '#/components/schemas/OpenEntryTargetAll'
          LastOnly: '#/components/schemas/OpenEntryTargetLastOnly'
          FirstOnly: '#/components/schemas/OpenEntryTargetFirstOnly'
          ExternalId: '#/components/schemas/OpenEntryTargetExternalId'
      oneOf:
        - $ref: '#/components/schemas/OpenEntryTargetAll'
        - $ref: '#/components/schemas/OpenEntryTargetLastOnly'
        - $ref: '#/components/schemas/OpenEntryTargetFirstOnly'
        - $ref: '#/components/schemas/OpenEntryTargetExternalId'
    OpenEntryTargetAll:
      type: object
      title: All
      description: Targets all open entries.
      properties:
        type:
          type: string
          enum: [All]
          default: All
      required:
        - type
    OpenEntryTargetLastOnly:
      type: object
      title: Last Only
      description: Targets only the last open entry.
      properties:
        type:
          type: string
          enum: [LastOnly]
          default: LastOnly
      required:
        - type
    OpenEntryTargetFirstOnly:
      type: object
      title: First Only
      description: Targets only the first open entry.
      properties:
        type:
          type: string
          enum: [FirstOnly]
          default: FirstOnly
      required:
        - type
    OpenEntryTargetExternalId:
      type: object
      title: External ID
      description: Targets an entry by its external ID.
      properties:
        type:
          type: string
          enum: [ExternalId]
          default: ExternalId
        id:
          type: string
          description: The external ID of the target entry.
      required:
        - type
        - id
    EntryOverride:
      type: object
      description: Overrides for the default entry settings.
      properties:
        entrySize:
          $ref: '#/components/schemas/EntryOverrideSize'
        entryOpenStrategy:
          $ref: '#/components/schemas/EntryOverrideOpenStrategy'
        maxSlippagePercentage:
          type: number
          format: double
          description: The maximum percentage that price can slip by from message receipt.
        stopLoss:
          $ref: '#/components/schemas/EntryOverrideStopLoss'
        takeProfit:
          $ref: '#/components/schemas/EntryOverrideTakeProfit'
      required:
        - entrySize
        - entryOpenStrategy
    EntryOverrideSize:
      description: How you want your entries to be sized.
      discriminator:
        propertyName: type
        mapping:
          Fixed: '#/components/schemas/EntryOverrideSizeFixed'
          Risk: '#/components/schemas/EntryOverrideSizeRisk'
      oneOf:
        - $ref: '#/components/schemas/EntryOverrideSizeFixed'
        - $ref: '#/components/schemas/EntryOverrideSizeRisk'
    EntryOverrideSizeFixed:
      type: object
      title: Fixed
      description: A fixed entry sizing strategy. New entries will be for a fixed percentage of total entry cost.
      properties:
        type:
          type: string
          enum: [Fixed]
          default: Fixed
        percentage:
          type: number
          format: double
      required:
        - type
        - percentage
    EntryOverrideSizeRisk:
      type: object
      title: Risk
      description: A Risk based sizing strategy. New entries risk a percentage of the entry cost relative to the stop loss.
      properties:
        type:
          type: string
          enum: [Risk]
          default: Risk
        percentage:
          type: number
          format: double
      required:
        - type
        - percentage
    EntryOverrideStopLoss:
      description: Overrides for the stop loss settings.
      discriminator:
        propertyName: type
        mapping:
          AverageEntry: '#/components/schemas/EntryOverrideStopLossAverageEntry'
          MarketTrailing: '#/components/schemas/EntryOverrideStopLossMarketTrailing'
      oneOf:
        - $ref: '#/components/schemas/EntryOverrideStopLossAverageEntry'
        - $ref: '#/components/schemas/EntryOverrideStopLossMarketTrailing'
    EntryOverrideStopLossAverageEntry:
      type: object
      title: Average Entry
      description: Stop Loss relative to the average entry price.
      properties:
        type:
          type: string
          enum: [AverageEntry]
          default: AverageEntry
        offsetPercentage:
          type: number
          format: double
        inBreachSeconds:
          type: integer
      required:
        - type
        - offsetPercentage
        - inBreachSeconds
    EntryOverrideStopLossMarketTrailing:
      type: object
      title: Market Trailing
      description: Stop Loss relative to the market trailing price.
      properties:
        type:
          type: string
          enum: [MarketTrailing]
          default: MarketTrailing
        offsetPercentage:
          type: number
          format: double
        inBreachSeconds:
          type: integer
      required:
        - type
        - offsetPercentage
        - inBreachSeconds
    EntryOverrideTakeProfit:
      type: object
      description: Overrides for the take profit settings.
      properties:
        levels:
          type: array
          items:
            $ref: '#/components/schemas/EntryOverrideTakeProfitLevel'
        trailingPercentage:
          type: number
          format: double
      required:
        - levels
    EntryOverrideTakeProfitLevel:
      type: object
      properties:
        sizePercentage:
          type: number
          format: double
        pricePercentage:
          type: number
          format: double
      required:
        - sizePercentage
        - pricePercentage
    EntryOverrideOpenStrategy:
      description: The strategy to use when executing an entry.
      discriminator:
        propertyName: type
        mapping:
          Immediate: '#/components/schemas/EntryOverrideOpenStrategyImmediate'
          MarketTrailing: '#/components/schemas/EntryOverrideOpenStrategyMarketTrailing'
      oneOf:
        - $ref: '#/components/schemas/EntryOverrideOpenStrategyImmediate'
        - $ref: '#/components/schemas/EntryOverrideOpenStrategyMarketTrailing'
    EntryOverrideOpenStrategyImmediate:
      type: object
      title: Immediate
      description: Open the position immediately.
      properties:
        type:
          type: string
          enum: [Immediate]
          default: Immediate
      required:
        - type
    EntryOverrideOpenStrategyMarketTrailing:
      type: object
      title: Market Trailing
      description: Trail market price until direction is confirmed and then open.
      properties:
        type:
          type: string
          enum: [MarketTrailing]
          default: MarketTrailing
        confirmationPercentage:
          type: number
          format: double
          description: The percentage that the price must move in a favourable direction to confirm the entry direction and trigger the entry.
        orAfterMillis:
          type: integer
          description: Optional parameter to set a time limit for confirmation. Will open after it elapses.
      required:
        - type
        - confirmationPercentage
    EntryOpen:
      title: Entry Open
      description: A message to open a new entry.
      type: object
      properties:
        type:
          type: string
          enum: [EntryOpen]
          default: EntryOpen
        market:
          type: string
          description: The market the message is for. For example 'BTC-USD'.
        side:
          $ref: '#/components/schemas/SignalSide'
        override:
          $ref: '#/components/schemas/EntryOverride'
        externalId:
          type: string
          description: An optional external ID to associate with the entry.
      required:
        - type
        - market
        - side
    EntryClose:
      title: Entry Close
      description: A message to close existing entries.
      type: object
      properties:
        type:
          type: string
          enum: [EntryClose]
          default: EntryClose
        market:
          type: string
          description: The market the message is for. For example 'BTC-USD'.
        target:
          $ref: '#/components/schemas/OpenEntryTarget'
        side:
          $ref: '#/components/schemas/SignalSide'
      required:
        - type
        - market
        - target
    EntrySetExits:
      title: Entry Set Exits
      description: Set all of your exit conditions (Stop Loss and Take Profit) at once.
      type: object
      properties:
        type:
          type: string
          enum: [EntrySetExits]
          default: EntrySetExits
        market:
          type: string
          description: The market the message is for. For example 'BTC-USD'.
        target:
          $ref: '#/components/schemas/OpenEntryTarget'
        stopLoss:
          $ref: '#/components/schemas/EntryOverrideStopLoss'
        takeProfit:
          $ref: '#/components/schemas/EntryOverrideTakeProfit'
      required:
        - type
        - market
        - target
    EntrySetStopLoss:
      title: Entry Set Stop Loss
      description: Modify your stop loss while leaving other exit conditions as is.
      type: object
      properties:
        type:
          type: string
          enum: [EntrySetStopLoss]
          default: EntrySetStopLoss
        market:
          type: string
          description: The market the message is for. For example 'BTC-USD'.
        target:
          $ref: '#/components/schemas/OpenEntryTarget'
        stopLoss:
          $ref: '#/components/schemas/EntryOverrideStopLoss'
      required:
        - type
        - market
        - target
    EntrySetTakeProfit:
      title: Entry Set Take Profit
      description: Modify your take profit while leaving other exit conditions as is.
      type: object
      properties:
        type:
          type: string
          enum: [EntrySetTakeProfit]
          default: EntrySetTakeProfit
        market:
          type: string
          description: The market the message is for. For example 'BTC-USD'.
        target:
          $ref: '#/components/schemas/OpenEntryTarget'
        takeProfit:
          $ref: '#/components/schemas/EntryOverrideTakeProfit'
      required:
        - type
        - market
        - target
    SignalMessage:
      oneOf:
        - $ref: '#/components/schemas/EntryOpen'
        - $ref: '#/components/schemas/EntryClose'
        - $ref: '#/components/schemas/EntrySetExits'
        - $ref: '#/components/schemas/EntrySetStopLoss'
        - $ref: '#/components/schemas/EntrySetTakeProfit'
      discriminator:
        propertyName: type
        mapping:
          EntryOpen: '#/components/schemas/EntryOpen'
          EntryClose: '#/components/schemas/EntryClose'
          EntrySetExits: '#/components/schemas/EntrySetExits'
          EntrySetStopLoss: '#/components/schemas/EntrySetStopLoss'
          EntrySetTakeProfit: '#/components/schemas/EntrySetTakeProfit'
    SignalMessages:
      type: array
      items:
        $ref: '#/components/schemas/SignalMessage'
      example:
        - type: EntryOpen
          market: BTC-USD
          side: Long
        - type: EntryClose
          market: BTC-USD
          target:
            type: All
          side: Long
        - type: EntrySetExits
          market: ETH-USD
          target:
            type: LastOnly
          stopLoss:
            type: AverageEntry
            offsetPercentage: 2.0
            inBreachSeconds: 60
    ValidationErrors:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      description: A collection of Validation errors in a data structure
    ValidationError:
      type: object
      properties:
        path:
          description: Path to the field with invalid value
          type: array
          items:
            type: string
        message:
          type: string
          description: Description of the validation error
      required:
        - message
        - path
      example:
        path:
          - budget
          - amount
        message: Must be > 0
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
    apiSecret:
      type: apiKey
      name: X-API-SECRET
      in: header
